@model List<Entry>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Имя</th>
            <th>Дата и время</th>
            <th>Телефон</th>
            <th>Дополнительно</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr class="table-light">
                <td>@e.Id</td>
                <td class="cell-9">@e.Owner</td>
                <td>@e.Date</td>
                <td>@e.Phone</td>
                <td>@e.Description</td>
                <td>
                    @await Html.PartialAsync("_ModalEntry", e)
                </td>
                <td>
                    <form action="/Preregistration/DeleteEntry" method="post">
                        <div>
                            <input name="Id" type="number" hidden="true" value=@e.Id />
                            <input class="btn btn-primary" type="submit" value="Удалить запись">
                                 
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
