@model PreregistrationVM

<h4>Выберите день:</h4>
<form method="post" asp-controller="Preregistration" asp-action="Index">
<span><input type="date" value=@Model.GetDate name="date"/> <input type="submit" value="Сменить"/></span>
  
</form> 
<form method="post" action="/preregistration/create">  
<div>
@foreach (var e in Model.GetInputEntries()){
    var status = @e.isChecked?"Занято":"Свободно";
    var bgColor = @e.isChecked?"#696969":"#A9A9A9";
    <div class="card"  style=" width:300px;height: 20px;  margin-bottom: 12px;" >
        <div class="row" style="background-color: @bgColor; border-radius: 3px; display: flex;">
            <h8 class="col-md-6">
                @e.Time
                <span class="badge badge-primary">@status</span>
            </h8>
                <div class="form-check col-md-3">
                    <input class="form-check-input " id=@e.InputId name="Ids" value=@e.InputId
                    type="checkbox"  disabled="@e.isChecked"/>
                    <label class="form-check-label " for="@e.InputId"
                    style="font-size: smaller;" >Выбрать</label>
                </div>
                @if (e.ThisEntry is not null){
                  @await Html.PartialAsync("_EntryInfo",e.ThisEntry.Id)
                }
            
        </div>
    </div>
}
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#entryModal">
Дополнить данные 
</button>

<!-- Modal -->
<div class="modal fade" id="entryModal" tabindex="-1" role="dialog" aria-labelledby="entryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="entryModalLabel">Введите данные</h5>
      </div>
      <div class="modal-body">
         <div>
            <input type="date"  name="Date" value=@Model.GetDate />
            <div><input name="Owner"/> <label>Имя</label></div>
            <div><input name="Phone"/> <label>номер телефона</label></div>
            <div><input type="text"  name="Description"/> <label>Дополнительно</label></div>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <input  class="btn btn-primary" type="submit" value="Отправить">
      </div>
      
    </div>
    
  </div>
</div>
</form>
